<!DOCTYPE html>
<html lang="en">

	<head>
		<title>...</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Sleet Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"
		/>
		<script>
			addEventListener("load", function () {
				setTimeout(hideURLbar, 0);
			}, false);
			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<link href="{{url_for('static', filename = '//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900')}}" rel="stylesheet">
		<link href="{{url_for('static', filename = '//fonts.googleapis.com/css?family=Rancho')}}" rel="stylesheet">
		<link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet" type="text/css" media="all" />
		<link href="{{url_for('static', filename = 'css/font-awesome.css')}}" rel="stylesheet" type="text/css" media="all" />
	</head>
	
	<body>
		<div class="container-w3layouts  text-center">
			<div class="agileits-logo">
				<h1>
					<a href="{{url_for('index')}}">
						<span class="fa fa-spinner" aria-hidden="true"></span></a>
				</h1>
			</div>
			<h2 class="txt-wthree">CHỨC NĂNG</h2>
			<div class="home">
				<form action="{{url_for('manual')}}" method="post">
					<button id="manual"> Điều khiển </button>
				</form>
				<form action="{{url_for('auto')}}" method="post">
					<button id="auto"> Tự động </button>
				</form>
				<style type="text/css">
					button {
						background-color: white;
    					color: black;
    					border: 2px solid black;
   					 	padding: 15px 32px;
    					text-align: center;
    					text-decoration: none;
    					display: inline-block;
    					font-size: 16px;
    					width: 100%;
					}
					button:hover {
    					background-color: #331447; 
    					color: white;
					}
				</style>
				<script>
					$( document ).ready(function(){
				   	
				   	$("#auto").on("mousedown", function() {
				    $.post('/auto');
				    });

				    $("#manual").on("mousedown", function(){
				    $.post('/manual');
				    };
					});
				</script>
			</div>
		</div>
	</body>
</html>